/* General Reset */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#jinu {
    position: absolute;
    top: 47.5vh;
    left: 1vw;
    width: 50vw;
}

#rohan {
    position: absolute;
    top: 47.5vh;
    right: 1vw;
    width: 50vw;
}

#neil {
    position: absolute;
    top: 65vh;
    right: 13vw;
    width: 8vw;
    transform: rotate(20deg);
    display:none;
}

#eric {
    position: absolute;
    top: 71vh;
    right: 11vw;
    width: 8vw;
    transform: rotate(28deg);
    display:none;
}

#satya {
    position: absolute;
    top: 77vh;
    right: .1vw;
    width: 25vw;
    transform: rotate(28deg);
    display:none;
}


#pointsText {
    position: absolute;
    top: 90vh;
    left: 45vw;
    font-size: 2rem;
}

#jinuHealth {
    position: absolute;
    top: 45vh;
    left: 18vw;
    font-size: 2rem;
}

#rohanHealth {
    position: absolute;
    top: 45vh;
    right: 18vw;
    font-size: 2rem;
}


#jBlastersButton {
    position: absolute;
    width: 20vw;
    height: 8vh;
    background-color: rgb(253, 244, 246);
    top: 5vh;
    left: 3vw;
    font-size: 1.2rem;
}

#jBlastersPriceText {
    position: absolute;
    top: 14vh;
    left: 3vw;
    font-size: 1.5rem;
}

#jDeaglesButton {
    position: absolute;
    left: 28vw;
    top: 5vh;
    width: 20vw;
    height: 8vh;
    background-color: rgb(250, 236, 239);
    font-size: 1.2rem;
}

#jDeaglesPriceText {
    position: absolute;
    left: 28vw;
    top: 14vh;
    font-size: 1.5rem;
}


#divNext {
    position: absolute;
    background-color: rgb(240, 232, 223);
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-size: 10vw;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display:none;
}


#explosion {
    position: absolute;
    width: 50vw;
    height: 50vh;
    left: 25vw;
    top: 10vh;
    display:none;
}

#jDeaglesVideo {
    position: absolute;
    width: 22vw;
    height:22vh;
    top: 30vh;
    left: 80vw;
    transform: rotate(-30deg);
    display:none;
}

#jBlastersVideo {
    position: absolute;
    width: 15vw;
    top: 30vh;
    left: 50vw;
    transform: rotate(45deg);
    display:none;
}

#rohanRPG {
    position: absolute;
    width: 25vw;
    top: 60vh;
    right: 37vw;
}


#customAlert {
    position: absolute;
    background-color: rgb(248, 230, 208);
    left: 30vw;
    top: 30vh;
    text-align: center;
    width: 40vw;
    height: 40vh;
    outline: 0.3vw solid;
    padding: 2vh;
    display: none;
}

#alertH2 {
    font-size: 3vw;
}

#alertP {
    font-size: 1.2vw;
}

#buttonOK {
    padding: 1vh 2vw;
    background-color: rgb(196, 196, 183);
    color: rgb(0, 0, 0);
    outline: 0.2vw solid;
    font-size: 1.2vw;
    margin-top: 2vh;
}

.container {
    position:absolute;
    margin-top: 10%;
    margin-left: 60%;
    display:none;
}

.container #badZone {
    width:60%;
}

.container #target {
    position: absolute;
    width:12.22%;
}

#movingObject {
    position: absolute;
    top:.1vh;
    left:58vw;
    width:1vw;
    display:none;
}

.container2 {
    position:absolute;
    margin-top: 15%;
    margin-left: 60%;
    display:none;
}

.container2 #badZone2 {
    width:60%;
}

.container2 #target2 {
    position: absolute;
    width:12.22%;
}

#movingObject2 {
    position: absolute;
    top:.1vh;
    left:58vw;
    width:1vw;
    display:none;
}

#hitText1 {
   position: absolute;
   top:25vh;
   left: 6vw; 
   display: none;
}

#hitText2 {
   position: absolute;
   top:35vh;
   left: 3vw; 
   display: none;
}

#hitText3 {
   position: absolute;
   top:45vh;
   left:1vw; 
   display: none;
}

#blankDiv {
    position:absolute;
    background-color: rgb(255, 255, 255);
    width:100000000px;
    height:100000000px;
    font-size: 70px;
    display:none;
}

@keyframes slide {
    from {
        left: 0vw;
    } to {
        left: 28vw;
    }
}

@keyframes slideHit1 {
    from {
        left: -5vw;
    } to {
        left: 6vw;
    }
}

@keyframes slideHit2 {
    from {
        left: -5vw;
    } to {
        left: 3vw;
    }
}

@keyframes slideHit3 {
    from {
        left: -5vw;
    } to {
        left: 1vw;
    }
}

