#cortisolMeter {
    position:absolute;
    width:40vw;
    left:29vw;
}

#jumpscareButton {
    position:absolute;
    width:20vw;
    height:14vh;
    left:6vw;
    top:15vh;
}

#countdownText {
    position:absolute;
    font-size:7ch;
    top:30vh;
    left:15vw;
}
#spookyText {
    position:absolute;
    font-size:7ch;
    top:50vh;
    left:15vw;
}

#cortisolItems {
    position:absolute;
    font-size:5ch;
    left: 4vw;
    top:80vh;
}

.calculateButton {
    position:absolute;
    width:20vw;
    height:8vh;
    left:38.5vw;
    top:45vh;
}

.changeButton {
    position:absolute;
    width:20vw;
    height:8vh;
    left:38.5vw;
    top:70vh;
}

#bunny {
    position:absolute;
    width:30vw;
    left:70vw;
    display:none;
}

h2 {
    position:absolute;
    left:46vw;
    top:55vh; 
}