body {
    background: url("duck.jpg");
    background-size: cover;
}

@media screen and (min-width: 1024px) {
    .container {
        width: 80%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 95%;
    }
}

@media screen and (max-width: 770px) {
    .container {
        width: 100%;
    }
}

#thoughts {
    background-color:antiquewhite;
    box-shadow: 4px 4px 4px 0px black;
    border-radius: 7px;
}

#password {
    -webkit-text-security: disc; 
      
}

.form2 {
    position:absolute;
    
}

.table {
    position:absolute;
    left:30vw;
}

#quack {
    position:absolute;
    top:50vh;
}

#shuba {
    position:absolute;
    padding: 3vw;
    width: 30vw;
    left:29vw;
    top:8vh;
}

#fact {
    position:absolute;
    top:46vh;
    left:35vw;
}

#webLink {
    position:absolute;
    left:39vw;
    top:52vh;
}

#webLinkTwo {
    position:absolute;
    left:39vw;
    top:56vh;
}

#back {
    position:absolute;
    top:60vh;
}