body {
    background: url("duck.jpg");
    background-size: cover;
}

#thoughts {
    background-color:antiquewhite;
    box-shadow: 4px 4px 4px 0px black;
    border-radius: 7px;
}

#password {
    -webkit-text-security: disc; 
      
}

.form2 {
    position:absolute;
    
}

.table {
    position:absolute;
    left:30vw;
}

#quack {
    position:absolute;
    top:50vh;
}

#shuba {
    position:absolute;
    width: 30vw;
    left:32vw;
    top:10vh;
}

#fact {
    position:absolute;
    top:46vh;
    left:35vw;
}

#webLink {
    position:absolute;
    left:39vw;
    top:52vh;
}

#webLinkTwo {
    position:absolute;
    left:39vw;
    top:56vh;
}

#back {
    position:absolute;
    top:60vh;
}