span{
    font-family: "Jersey 10", sans-serif; 
    margin-left: 1000px;
    font-size: 50px;
}

#prompt {
    margin-top: 100px;
    font-size: 30px;
    font-family: "Jersey 10", sans-serif; 
}

#priceClickerText {
    position: absolute;
    font-size: 70px;
    padding:5px;
    font-family: "Jersey 10", sans-serif; 
    top:300px;
    left: 1000px;
}

#priceUpgraderText {
    position: absolute;
    font-size: 70px;
    padding:5px;
    font-family: "Jersey 10", sans-serif; 
    top:600px;
    left: 1000px;
}

#shopTitle {
    position: absolute;
    font-size: 70px;
    padding:5px;
    font-family: "Jersey 10", sans-serif; 
    top:100px;
    left: 470px;
}

#home {
    position: absolute;
    bottom:640px;
    left:1300px;
    width: 180px;
}

#coinClickerText {
    position: absolute;
    font-size: 30px;
    padding:5px;
    font-family: "Jersey 10", sans-serif; 
    top:300px;
    left:180px;
    background-color:bisque;
}

#coinUpgraderText {
    position: absolute;
    font-size: 30px;
    font-family: "Jersey 10", sans-serif; 
    background-color:bisque;
    left:180px;
    top:600px;
}

#bannerImage {
    position:absolute;
    left:270px;
}

#textBoxPixel{
    position:absolute;
    width: 1230px;
    height: 330px;
    left:102px;
    top:245px;
    pointer-events: none;
}

#coinAmount{
    position:absolute;
    right:400px;
    width:100px;
    top:10px;
    text-align: center;
    display:contents;
}

#coinImage{
    position:absolute;
    width:70px;
    display:block;
    left:1200px;
    top:5px;
}

#shop{
    position:absolute;
    width:150px;
    display:block;
    left:1300px;
    bottom:660px;
}

#duckDance {
    position: absolute;
    top:1000px;
    right:500px;
}

#trophy{
    position:absolute;
    width:90px;
    display:block;
    left:30px;
    bottom:640px;
}

input{
    position:absolute;
    width: 800px;
    height: 205px;
    left:312px;
    top:305px;
    background-color:rgb(161, 153, 153);
    font-size:70px;
    font-family: "Jersey 20", sans-serif;
}

#wpmH1{
    position: absolute;
    font-size: 70px;
    padding:5px;
    font-family: "Jersey 10", sans-serif; 
    bottom:100px;
    left:630px;
}

#timeH1{
    position:absolute;
    font-size: 70px;
    font-family: "Jersey 10", sans-serif; 
    left: 620px;
    bottom: 10px;
}

#buttonStart{
    position:absolute;
    width:200px;
    height:100px;
    background-color:rgb(146, 191, 146);
    left:50px;
    top:350px;
    border-width:5px;
    border-color:black;
    font-size:20px;
}

#buttonStart2{
    position:absolute;
    width:200px;
    height:100px;
    background-color:rgb(146, 191, 146);
    left:1185px;
    top:350px;
    border-width:5px;
    border-color:black;
    font-size:20px;
}
    